.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}
.panel__basic-actions {
  position: initial;
}

.block {
  user-select: none;
  // min-width: 45px;
  padding: 1em;
  box-sizing: border-box;
  min-height: 90px;
  cursor: all-scroll;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  margin: 10px 2.5% 5px;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 15%);
  transition: all .2s ease 0s;
  transition-property: color;
}

.block:hover {
  color: #d278c9;
}

.blocks{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
/* Style Manager*/
.styles{
  text-align: left;
}
/*Radio sample*/
.example-radio-group-label{text-align: left;}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
